In [1]:
# imports
import pandas as pd
import requests
import pickle as pkl
key = '18e51257407f16cc376fc7813020069f9f4a323d'

video:  https://www.youtube.com/watch?v=K0-ifZS0mQI&feature=emb_title&ab_channel=U.S.CensusBureau

https://www.census.gov/data/developers/data-sets/acs-5year.html

Data Profiles

Example Call: api.census.gov/data/2018/acs/acs5/profile?get=group(DP02)&for=us:1&key=YOUR_KEY_GOES_HERE

Desired Call DP03:  https://api.census.gov/data/2018/acs/acs5/profile?get=group(DP03),NAME&for=tract:*&in=state:06&in=county:059

OR

https://api.census.gov/data/2018/acs/acs5/profile?get=group(DP03),NAME&for=tract:*&in=state:06%20county:059

Can't right click to save as CSV
Above URL

#### Example API call from Caroline:

In [16]:
# Set base url
# url = 'https://api.census.gov/data/2018/acs/acs5/profile?'
# # Set params
# params = {
#     'get': 'group(DP05),NAME',
#     'for': 'county:*',
#     'in': 'state:06',
#     'key': key
# }
# # Make a request and display the response code.
# res = requests.get(url,params)
# res

In [17]:
# data = res.json()
# data

#### API call adjusted to pull Orange County by census tract

In [4]:
# Set base url
url = 'https://api.census.gov/data/2018/acs/acs5/profile?'

params2 = {
    'get': 'group(DP03),NAME',
    'for': 'tract:*',
    'in': 'state:06%20county:059',
    'key': key
}
# Make a request and display the response code.
res2 = requests.get(url,params2)
res2

In [9]:
raw = res2.json()
# data2
#returns a veryvery long list

In [10]:
df_raw = pd.DataFrame(raw)

In [12]:
df_raw.shape

(584, 1102)

In [13]:
df_raw.tail()

,0,1,2,3,4,5,6,7,8,9,...,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101
579,"Census Tract 626.48, Orange County, California",1400000US06059062648,2689,162,2689,-888888888,424,110,15.8,3.9,...,(X),None,None,(X),(X),None,None,06,059,062648
580,"Census Tract 626.49, Orange County, California",1400000US06059062649,3012,183,3012,-888888888,1291,173,42.9,5.0,...,(X),None,None,(X),(X),None,None,06,059,062649
581,"Census Tract 875.05, Orange County, California",1400000US06059087505,3718,384,3718,-888888888,2426,250,65.3,5.0,...,(X),None,None,(X),(X),None,None,06,059,087505
582,"Census Tract 9800, Orange County, California",1400000US06059980000,30,15,30,-888888888,14,13,46.7,39.6,...,(X),-,**,(X),(X),-,**,06,059,980000
583,"Census Tract 9901, Orange County, California",1400000US06059990100,0,12,0,-888888888,0,12,-666666666.0,-222222222.0,...,(X),-,**,(X),(X),-,**,06,059,990100

In [20]:
df_raw.to_pickle('./Orange_County_Voting_Trends/census_data/DP03_raw.pkl')

In [25]:
pdf = pd.read_pickle('./Orange_County_Voting_Trends/census_data/DP03_raw.pkl')

In [26]:
pdf.shape

(584, 1102)

In [27]:
pdf.head(2)

,0,1,2,3,4,5,6,7,8,9,...,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101
0,NAME,GEO_ID,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,...,DP03_0136MA,DP03_0136PEA,DP03_0136PMA,DP03_0137MA,DP03_0137EA,DP03_0137PEA,DP03_0137PMA,state,county,tract
1,"Census Tract 626.44, Orange County, California",1400000US06059062644,6767,423,6767,-888888888,3967,410,58.6,5.2,...,(X),None,None,(X),(X),None,None,06,059,062644

In [ ]:
#use ['NAME'] as column headings
pdf.columns = pdf.iloc[0]

In [30]:
pdf.head(2)

,NAME,GEO_ID,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,...,DP03_0136MA,DP03_0136PEA,DP03_0136PMA,DP03_0137MA,DP03_0137EA,DP03_0137PEA,DP03_0137PMA,state,county,tract
0,NAME,GEO_ID,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,...,DP03_0136MA,DP03_0136PEA,DP03_0136PMA,DP03_0137MA,DP03_0137EA,DP03_0137PEA,DP03_0137PMA,state,county,tract
1,"Census Tract 626.44, Orange County, California",1400000US06059062644,6767,423,6767,-888888888,3967,410,58.6,5.2,...,(X),None,None,(X),(X),None,None,06,059,062644

In [31]:
#drop first row because duplicate
pdf.drop(0, axis=0, inplace=True)

In [32]:
pdf.head(2)

,NAME,GEO_ID,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,...,DP03_0136MA,DP03_0136PEA,DP03_0136PMA,DP03_0137MA,DP03_0137EA,DP03_0137PEA,DP03_0137PMA,state,county,tract
1,"Census Tract 626.44, Orange County, California",1400000US06059062644,6767,423,6767,-888888888,3967,410,58.6,5.2,...,(X),None,None,(X),(X),None,None,06,059,062644
2,"Census Tract 626.40, Orange County, California",1400000US06059062640,3062,254,3062,-888888888,2446,244,79.9,4.0,...,(X),None,None,(X),(X),None,None,06,059,062640

#### create dictionary of names of columns, to match codes

In [34]:
headers = pd.read_csv('./Orange_County_Voting_Trends/census_data/ACSDP5Y2018.DP03_metadata_2020-10-29T195609.csv')
headers.shape

(549, 2)

In [35]:
headers.head(4)

        GEO_ID                                                 id
0         NAME                               Geographic Area Name
1   DP03_0001E  Estimate!!EMPLOYMENT STATUS!!Population 16 yea...
2   DP03_0001M  Margin of Error!!EMPLOYMENT STATUS!!Population...
3  DP03_0001PE  Percent Estimate!!EMPLOYMENT STATUS!!Populatio...

In [36]:
labels = {}

In [37]:
key = headers['GEO_ID'].tolist()

In [38]:
value = headers['id'].tolist()
len(value)

549

In [39]:
#dict(zip(header_cols, descriptions))
labels = dict(zip(key, value))

In [40]:
pdf.rename(columns = labels, inplace=True)

In [42]:
pdf.head(3)

,Geographic Area Name,GEO_ID,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over,Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over,Percent Estimate!!EMPLOYMENT STATUS!!Population 16 years and over,Percent Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Percent Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Percent Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,...,DP03_0136MA,DP03_0136PEA,DP03_0136PMA,DP03_0137MA,DP03_0137EA,DP03_0137PEA,DP03_0137PMA,state,county,tract
1,"Census Tract 626.44, Orange County, California",1400000US06059062644,6767,423,6767,-888888888,3967,410,58.6,5.2,...,(X),None,None,(X),(X),None,None,06,059,062644
2,"Census Tract 626.40, Orange County, California",1400000US06059062640,3062,254,3062,-888888888,2446,244,79.9,4.0,...,(X),None,None,(X),(X),None,None,06,059,062640
3,"Census Tract 630.08, Orange County, California",1400000US06059063008,833,66,833,-888888888,431,63,51.7,6.7,...,(X),None,None,(X),(X),None,None,06,059,063008

#### additional cleaning steps

1. drop codenames (e.g., DP03_0136MA ...)

2. drop extraneous columns:
'Margin of Error!!
'Percent Margin of Error!!
'Percent Estimate!!

3. edit name of remaining

In [43]:
blah_cols = pdf.columns[pdf.columns.str.contains('DP03')]
blah_cols

Index(['DP03_0001EA', 'DP03_0001MA', 'DP03_0001PEA', 'DP03_0001PMA',
       'DP03_0002EA', 'DP03_0002MA', 'DP03_0002PMA', 'DP03_0002PEA',
       'DP03_0003MA', 'DP03_0003EA',
       ...
       'DP03_0135PMA', 'DP03_0135PEA', 'DP03_0136EA', 'DP03_0136MA',
       'DP03_0136PEA', 'DP03_0136PMA', 'DP03_0137MA', 'DP03_0137EA',
       'DP03_0137PEA', 'DP03_0137PMA'],
      dtype='object', name=0, length=548)

In [44]:
#df = df.drop(['Q43'], axis=1)
pdf = pdf.drop(blah_cols, axis=1)

In [45]:
pdf.shape

(583, 554)

In [46]:
moe_cols = pdf.columns[pdf.columns.str.contains('Margin of Error!!')]

In [47]:
pdf = pdf.drop(moe_cols, axis=1)

In [48]:
pdf.shape

(583, 280)

In [49]:
pct_cols = pdf.columns[pdf.columns.str.contains('Percent Estimate!!')]

In [50]:
pdf = pdf.drop(pct_cols, axis=1)

In [51]:
pdf.shape

(583, 143)

In [52]:
pdf.head(2)

,Geographic Area Name,GEO_ID,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Employed,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Unemployed,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Armed Forces,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!Not in labor force,Estimate!!EMPLOYMENT STATUS!!Civilian labor force,...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!Under 18 years!!Related children of the householder under 18 years!!Related children of the householder 5 to 17 years,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!18 years and over,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!18 years and over!!18 to 64 years,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people!!18 years and over!!65 years and over,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!People in families,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Unrelated individuals 15 years and over,Geographic Area Name,state,county,tract
1,"Census Tract 626.44, Orange County, California",1400000US06059062644,6767,3967,3967,3811,156,0,2800,3967,...,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,"Census Tract 626.44, Orange County, California",06,059,062644
2,"Census Tract 626.40, Orange County, California",1400000US06059062640,3062,2446,2436,2320,116,10,616,2436,...,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,"Census Tract 626.40, Orange County, California",06,059,062640

In [53]:
pdf.columns = pdf.columns.str.replace('!!', " ")

In [54]:
pdf.head(2)

,Geographic Area Name,GEO_ID,Estimate EMPLOYMENT STATUS Population 16 years and over,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force Employed,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force Unemployed,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Armed Forces,Estimate EMPLOYMENT STATUS Population 16 years and over Not in labor force,Estimate EMPLOYMENT STATUS Civilian labor force,...,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people Under 18 years Related children of the householder under 18 years Related children of the householder 5 to 17 years,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people 18 years and over,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people 18 years and over 18 to 64 years,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people 18 years and over 65 years and over,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL People in families,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL Unrelated individuals 15 years and over,Geographic Area Name,state,county,tract
1,"Census Tract 626.44, Orange County, California",1400000US06059062644,6767,3967,3967,3811,156,0,2800,3967,...,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,"Census Tract 626.44, Orange County, California",06,059,062644
2,"Census Tract 626.40, Orange County, California",1400000US06059062640,3062,2446,2436,2320,116,10,616,2436,...,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,"Census Tract 626.40, Orange County, California",06,059,062640

#### save clean dataframes to pickle

In [55]:

# pdf.to_pickle('./Cap-Census-data/DP02_raw.p')
pdf.to_pickle('./Orange_County_Voting_Trends/census_data/DP03_clean.pkl')
# pdf.to_pickle('./Cap-Census-data/DP04_raw.p')
# pdf.to_pickle('./Cap-Census-data/DP05_raw.p')